<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZCoreTextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZZCoreTextViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2088E97B1D2CEC8D00EA5AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2088E9851D2CEC8D00EA5AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2088E9A71D2CECD000EA5AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2088E9BA1D2CECD000EA5AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2088E9C51D2CECD000EA5AD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
